name: Run Azure Login with OIDC
on: [push]

permissions:
      id-token: write
      contents: read
jobs: 
  build-and-deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Azure Login
        uses: azure/login@v1
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
#         allow-no-subscriptions: true
#         environment: TestEnvironment
#         enable-AzPSSession: true
#         audience: api://AzureADTokenExchange
  
      - name: 'Run az commands'
        run: |
          az account show
          az group list
